*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  /* outline: 1px solid red; */
}
::-webkit-scrollbar {
  display: none;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
html,
body {
  line-height: 1.5;
  word-break: break-all;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji", /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol", /* Linux emoji */ "Noto Color Emoji";
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
}
svg:not([fill]) {
  fill: currentColor;
}
textarea {
  resize: vertical;
}
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
  outline: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}
select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}
::-ms-expand {
  display: none;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled="true"],
[disabled] {
  cursor: default;
}
[aria-hidden="false"][hidden] {
  display: initial;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
ol,
ul {
  list-style: none;
}
code,
kbd,
pre,
samp {
  font-family:
            /* macOS 10.10+ */ Menlo, /* Windows 6+ */ Consolas,
    /* Android 4+ */ Roboto Mono, /* Ubuntu 10.10+ */ Ubuntu Monospace,
    /* KDE Plasma 5+ */ Noto Mono, /* KDE Plasma 4+ */ Oxygen Mono,
    /* Linux/OpenOffice fallback */ Liberation Mono, /* fallback */ monospace;
}

button > * {
  pointer-events: none;
}

/* init style */

html {
  background-color: #efefef;
}

body {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* preload view */

.preload-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: black;
  color: whitesmoke;
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.preload-content {
  position: relative;
  width: 90%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preload-elem {
  position: relative;
  width: 100%;
  height: auto;
  flex: 1 1 0%;
}

.preload-content .preload-elem hr {
  position: relative;
  display: block;
  background: whitesmoke;
  height: 3px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.preload-content .preload-elem .preload-text {
  margin-left: 10%;
}

/* side bar */

.side-wrapper {
  position: fixed;
  width: 10%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: white;
  z-index: 10;
}

/* main content */

.main-wrapper {
  position: absolute;
  width: 90%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #efefef;
  color: black;
  z-index: 10;
}

/* pencil btn and form dropback start */

.contact-btn-container {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  bottom: 50px;
  z-index: 20;
}

.contact-btn-open,
.contact-btn-close,
.contact-form-dropback {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ff898a;
  border-radius: 9999px;
  transform: translateX(-52%);
}

.contact-btn-open,
.contact-btn-close {
  cursor: pointer;
}

.contact-btn-close {
  opacity: 0;
}

.contact-btn-open:focus,
.contact-btn-close:focus {
  outline: none;
  box-shadow: none;
}

.contact-btn-open .fa-pencil-alt,
.contact-btn-close .fa-times {
  font-size: 2rem;
}

.contact-btn-open .fa-pencil-alt {
  color: whitesmoke;
}

.contact-btn-close .fa-times {
  color: #063ba5;
}

.contact-form-dropback {
  background-color: #4d84f1;
  opacity: 0;
  transform: translateX(-52%);
}

/* pencil btn and form dropback end */

/* contact pencil btn form page start */

.contact-form-body {
  width: 90%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  opacity: 0;
}

.contact-form-body div {
  flex: 1 1 0%;
}

.contact-form-submit,
.contact-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-email {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#anime-letters {
  position: relative;
  opacity: 0;
}

#anime-letters svg path {
}

#contact-email {
  display: flex;
  flex-direction: row;
  transition: color 1s ease;
}

#contact-email .letter {
  font-size: 2rem;
}

.contact-form-submit button {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-submit .submit-message svg {
  position: absolute;
  bottom: 0.5rem;
}

.contact-form-submit .submit-message img {
  position: absolute;
  color: whitesmoke;
  top: 0.5rem;
  width: 40px;
  height: 40px;
  transform: rotate(-45deg);
}

.contact-form-text textarea {
  font-size: 1.5rem;
  color: #063ba5;
  padding: 1rem;
  border: none;
  background-color: whitesmoke;
  border-radius: 1rem;
  resize: none;
}

.contact-form-text textarea::placeholder {
  color: rgba(142, 142, 201, 0.575);
  font-size: 1.5rem;
}

/* contact pencil btn form page end */

/* main page start */

.main-page {
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.nav-wrapper {
  width: 1200px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.gallery-nav {
  width: 230px;
  height: 105px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.column-wrapper {
  display: flex;
  height: 100vh;
}

.column-wrapper section {
  display: flex;
}

#white-bg {
  background-color: rgb(214, 18, 18);
}

/* main page end */

@media only screen and (max-width: 550px) {
  html {
    font-size: 55%;
  }

  .side-wrapper {
    display: none;
  }

  .main-wrapper {
    width: 100%;
  }

  .contact-form-body {
    width: 65%;
  }

  .contact-btn-container {
    right: 0;
    left: auto;
    width: 50px;
    height: 50px;
  }

  .contact-btn-open .fa-pencil-alt,
  .contact-btn-close .fa-times {
    font-size: 1.5rem;
  }

  #anime-demo {
    transform: scale(0.8);
  }
}
