:root {
  --baby-powder: #fffffaff;
  --ruby: #d81159ff;
  --ruby-dark: #751739;
  --dirty-white: #f2f2f2;
  --jet: #333138;
  --purple: #642ca9ff;
  --rose: #ff36abff;
  --mellon: #ccb921;
  --black: #170312ff;
  --capri: #437eee;
  --backdrop-submit: #b998d6;
  --backdrop-nav: #f5e8ff;
  /* touch-action: pan-x pan-y; */
}

*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
  /* outline: 1px solid red; */
}

*:focus {
  outline: none !important;
  -webkit-appearance: none;
}

/* *:focus-within {
  background: transparent;
} */
::-webkit-scrollbar {
  display: none;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body {
  line-height: 1.5;
  word-break: break-all;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: system-ui,
    /* macOS 10.11-10.12 */
    -apple-system,
    /* Windows 6+ */
    Segoe UI,
    /* Android 4+ */
    Roboto,
    /* Ubuntu 10.10+ */
    Ubuntu,
    /* Gnome 3+ */
    Cantarell,
    /* KDE Plasma 5+ */
    Noto Sans,
    /* fallback */
    sans-serif,
    /* macOS emoji */
    'Apple Color Emoji',
    /* Windows emoji */
    'Segoe UI Emoji',
    /* Windows emoji */
    'Segoe UI Symbol',
    /* Linux emoji */
    'Noto Color Emoji';
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;
}

body {
  opacity: 0;
}

svg:not([fill]) {
  fill: currentColor;
}

textarea {
  resize: vertical;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  /* border: 1px solid WindowFrame; */
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  /* padding: 0.25em 0.375em; */
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;
  border-radius: 0;
  padding-right: 1em;
}

select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}

::-ms-expand {
  display: none;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled='true'],
[disabled] {
  cursor: default;
}

[aria-hidden='false'][hidden] {
  display: initial;
}

[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ol,
ul {
  list-style: none;
}

code,
kbd,
pre,
samp {
  font-family:
    /* macOS 10.10+ */
    Menlo,
    /* Windows 6+ */
    Consolas,
    /* Android 4+ */
    Roboto Mono,
    /* Ubuntu 10.10+ */
    Ubuntu Monospace,
    /* KDE Plasma 5+ */
    Noto Mono,
    /* KDE Plasma 4+ */
    Oxygen Mono,
    /* Linux/OpenOffice fallback */
    Liberation Mono,
    /* fallback */
    monospace;
}

button>* {
  pointer-events: none;
}

/* init style */

html {
  background-color: var(--baby-powder);
}

body {
  position: relative;
  z-index: 0;
  overflow: hidden;
  font-family: 'Advent Pro', sans-serif;
  max-height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 4.6rem;
  color: var(--jet);
}

h2 {
  font-weight: 600;
  font-size: 3.6rem;
  color: var(--jet);
}

h3 {
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--jet);
}

h4 {
  font-weight: 400;
  font-size: 2.2rem;
  color: var(--jet);
}

.body-copy {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--jet);
  line-height: 2rem;
}

.body-bold {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--jet);
  line-height: 2rem;
}

.uppercase {
  text-transform: uppercase;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* preload view */

.preload-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: black;
  color: var(--baby-powder);
  z-index: 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.preload-content {
  position: relative;
  width: 90%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preload-elem {
  position: relative;
  width: 100%;
  height: auto;
  flex: 1 1 0%;
}

.preload-content .preload-elem hr {
  position: relative;
  display: block;
  background: var(--baby-powder);
  height: 3px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.preload-content .preload-elem .preload-text {
  margin-left: 10%;
}

.preload-elem .preload-text {
  font-size: 2.5rem;
}

.bold {
  font-weight: 600;
}

/* side bar */

.side-wrapper {
  position: fixed;
  width: 10%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--dirty-white);
}

.side-elem a {
  white-space: nowrap;
}

.side-elem:first-child {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 4rem;
}

.side-elem:last-child {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  opacity: 0;
}

.side-elem a {
  transform: rotate(-90deg);
}

/* main content */

.main-wrapper {
  position: absolute;
  width: 90%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: var(--baby-powder);
  color: black;
  z-index: 10;
}

/* pencil btn and form dropback start */

.contact-btn-container {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  bottom: 50px;
  z-index: 20;
  transform: translateX(-52%);
}

.contact-btn-open,
.contact-btn-close,
.contact-form-dropback {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--ruby);
  border-radius: 9999px;
}

.contact-btn-open svg {
  max-width: 40%;
}

.contact-btn-open,
.contact-btn-close {
  cursor: pointer;
}

.contact-btn-close {
  opacity: 0;
}

.contact-btn-open:focus,
.contact-btn-close:focus {
  outline: none;
  box-shadow: none;
}

.contact-btn-close .fa-times {
  font-size: 2rem;
}

.contact-btn-close .fa-times {
  color: var(--ruby);
}

.contact-form-dropback {
  background-color: var(--backdrop-submit);
  opacity: 0;
  transform: translateX(-52%);
  background-color: #f5e8ff;
  background-size: 30% 30%;
  background-repeat: repeat-x;
  background-position: 40% 40%;
}

/* pencil btn and form dropback end */

/* contact pencil btn form page start */

.contact-form-body {
  width: 90%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  opacity: 0;
}

.contact-form-body div {
  flex: 1 1 0%;
}

.contact-form-submit,
.contact-form-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-email {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#anime-letters {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: -1rem;
  z-index: -1;
}

.contact-form-email .letter {
  color: var(--purple);
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1rem;
}

#anime-letters svg path {}

#contact-email {
  display: flex;
  flex-direction: row;
  transition: color 1s ease;
}

#contact-email .letter {
  font-size: 2rem;
}

.contact-form-submit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  height: 6rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.plane-wrapper {
  position: relative;
  max-width: 100%;
  padding-bottom: 70%;
  margin-bottom: -6rem;
}

.plane-wrapper img {
  position: absolute;
  max-width: 100%;
  padding-top: 7rem;
  opacity: 0;
}

.plane-mail {
  position: absolute;
  max-width: 100%;
}

/* .plane-mail path.enve-plane {
  filter: url(#circlefilter);
} */

#submit-path {
  position: absolute;
  /* bottom: 0.5rem;
  transform: translateX(-400px) translateY(-550); */
  left: -400px;
  top: -550px;
}

.contact-form-submit .submit-message .plane-mail {
  position: relative;
  max-width: 100%;
}

.contact-form-text textarea {
  width: 50vw;
  min-width: 350px;
  height: 40vh;
  font-size: 2.5rem;
  text-align: center;
  color: var(--black);
  padding: 1rem;
  border: none;
  background-color: var(--baby-powder);
  border-radius: 1rem;
  resize: none;
}

.contact-form-text textarea::placeholder {
  color: rgba(142, 142, 201, 0.65);
  font-size: 2.5rem;
}

/* contact pencil btn form page end */

/* main page start */

.main-page {
  width: 100%;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--baby-powder);
  margin-top: 60px;
  margin-bottom: 110px;
}

.nav-wrapper {
  width: 80%;
  height: 60px;
  position: absolute;
  top: 0;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  z-index: 1;
  text-align: end;
}

.hamburger-wrapper svg {
  max-width: 100%;
}

.footer {
  width: 80%;
  height: 110px;
  position: absolute;
  bottom: 0;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-item-right {
  width: 100%;
  max-height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-item-right svg {
  width: 40%;
  min-width: 250px;
  max-width: 270px;
}

.copyright {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.content-wrapper div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 100%;
  position: relative;
  display: block;
}

.svg-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: visible;
  opacity: 0;
}

.content-wrapper div .hero-img .svg-container .svg-col-1,
.content-wrapper div .hero-img .svg-container .svg-col-2,
.content-wrapper div .hero-img .svg-container .svg-col-3,
.content-wrapper div .hero-img .svg-container .svg-col-4 {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
}

.content-wrapper div .hero-img .svg-container .svg-col-1,
.content-wrapper div .hero-img .svg-container .svg-col-4 {
  width: 33%;
}

.content-wrapper div .hero-img .svg-container .svg-col-2,
.content-wrapper div .hero-img .svg-container .svg-col-3 {
  width: 16%;
}

.hero-img div svg {
  max-width: 100%;
}

#skills-svg {
  padding-bottom: 4rem;
  padding-left: 4rem;
}

#software-svg {
  transform: scale(2.1);
  margin-left: 24rem;
}

#build-svg {
  padding-left: 7rem;
  padding-top: 5rem;
}

#backend-svg {
  width: 60%;
  padding-top: 3rem;
}

.content-wrapper div .hero-img .svg-container .svg-col-2 {
  min-height: 100%;
  padding-left: 2rem;
}

#learning-svg {
  margin-bottom: 3rem;
  margin-right: 16rem;
  width: 140%;
}

#design-svg {
  margin-bottom: 8.5rem;
}

#data-svg {
  margin-top: 4rem;
}

#application-svg {
  margin-top: 3rem;
  width: 230%;
}

.content-wrapper div .hero-img .svg-container .svg-col-3 {
  height: 320px;
  margin-left: 3rem;
}

#team-svg {
  margin-top: -5rem;
  width: 140%;
}

#modern-svg {
  margin-bottom: 12rem;
}

#javascript-svg {
  width: 120%;
  margin-right: 8rem;
}

#technologies-svg {
  margin-left: 16rem;
  width: 200%;
  margin-bottom: 2rem;
}

.content-wrapper div .hero-img .svg-container .svg-col-4 {
  height: 400px;
}

#frontend-svg {
  padding-left: 35%;
  margin-left: 4rem;
}

#work-svg {
  margin-bottom: 4.5rem;
  margin-left: 4rem;
  padding-top: 2rem;
}

#project-svg {
  margin-bottom: 8rem;
}

#code-svg {}

.content-wrapper div .hero-img .svg-container div svg path {
  stroke: var(--black);
}

.content-wrapper div .hero-img .svg-container div svg {
  overflow: visible;
}

.content-wrapper div .hero-img .svg-container div svg path {
  fill: var(--black);
  /* stroke: #00ffaa;
  stroke-width: 2;*/
  stroke-linecap: round;
  stroke-linejoin: round;
  /* stroke-dasharray: 0, 25, 175; */
}

/* main page end */

/* hamburger menu start */
.hamburger-wrapper {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 20;
  min-width: 90px;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 20px;
  right: -12%;
}

.hamburger-items {
  position: absolute;
  top: 2.8rem;
  margin-left: 1rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: -1;
}

.item-top {
  margin-top: 15vh;
}

.hamburger-items div {
  opacity: 0;
}

.hamburger-items div button {
  color: var(--black);
  text-transform: lowercase;
  border: none;
  cursor: pointer;
}

.hamburger-backdrop {
  z-index: -2;
  background-color: var(--backdrop-nav);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 5%;
  top: 20px;
  height: 100%;
}

.waves-container {
  position: fixed;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  width: 100%;
}

.waves-container div.waves {
  max-width: 100%;
  bottom: 0;
  height: 100%;
  position: relative;
}

.waves-container div.waves svg {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
}

/* .hamburger-wrapper svg path {
  transition: transform 0.3s ease-in-out;
}

.hamburger-wrapper svg path:first-child {
  transform: translateX(0px);
}

.hamburger-wrapper svg path:last-child {
  transform: translateX(0px);
}

.hamburger-wrapper:hover svg path:first-child {
  transform: translateX(-10px);
}

.hamburger-wrapper:hover svg path:last-child {
  transform: translateX(10px);
} */

/* .hamburger-wrapper .hamburger-line {
  transition: stroke-width 0.3s ease-in-out;
} */

.hamburger-wrapper:hover .hamburger-line {
  stroke-width: 12;
}

.hamburger-line {
  fill: none;
  stroke-width: 8;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hamburger-line1 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}

.hamburger-line2 {
  stroke-dasharray: 60 60;
  stroke-width: 8;
}

.hamburger-line3 {
  stroke-dasharray: 60 207;
  stroke-width: 8;
}

.hamburger-opened .hamburger-line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
  /* stroke: white; */
}

.hamburger-opened .hamburger-line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 8;
}

.hamburger-opened .hamburger-line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 8;
  /* stroke: white; */
}

/* hamburger menu end */

/* projects view */

.projects-wrapper {
  height: calc(100vh - 170px);
}

.projects-wrapper div a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-wrapper div div div {
  max-width: 60%;
}

/* skills view */

.skills-wrapper {
  height: calc(100vh - 170px);
}

/* .skills-wrapper div a {
  display: flex;
  justify-content: center;
  max-width: 80%;
} */

/* vs */

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

#home-section {
  width: 100%;
  position: relative;
  display: block;
}

#home-desktop {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 40%;
}

#home-mobile {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: none;
  /* padding-top: 30%; */
}

.hero-placeholder-img {
  position: absolute;
  width: 100%;
  transform: scale(1.25);
}

@media only screen and (max-width: 850px) and (orientation: landscape) {

  .preload-wrapper,
  .side-wrapper,
  .waves-container,
  .main-wrapper {
    min-height: 800px;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 55%;
    overflow: hidden;
  }

  body {
    min-height: 100vh;
  }

  .preload-content {
    width: 100%;
  }

  .side-wrapper {
    display: none;
  }

  .main-wrapper {
    width: 100%;
    height: auto;
  }

  .contact-form-body {
    width: 65%;
  }

  .contact-btn-container {
    right: 0;
    left: auto;
    width: 50px;
    height: 50px;
    bottom: 12rem;
  }

  .contact-btn-close .fa-times {
    font-size: 1.5rem;
  }

  .main-page,
  .content-wrapper,
  .content-section {
    min-height: calc(100vh - 170px);
  }

  #home-section {
    height: 100%;
  }

  #anime-demo {
    transform: scale(0.8);
  }

  .footer-item-right {
    justify-content: center;
  }

  .hamburger-wrapper {
    width: 50px;
    min-width: 50px;
    right: -2rem;
  }

  #anime-letters {
    margin-bottom: 0.5rem;
  }

  #anime-letters h2 {
    font-size: 2.4rem;
  }

  .content-wrapper div .hero-img .svg-container .svg-col-3 {
    height: 290px;
  }

  .content-wrapper div .hero-img .svg-container .svg-col-2 div {
    width: 200%;
  }

  .content-wrapper div .hero-img .svg-container .svg-col-4 {
    height: 300px;
  }

  #software-svg {
    margin-left: 8rem;
    margin-bottom: -4rem;
    transform: scale(2.1) !important;
  }

  #design-svg {
    margin-bottom: 5rem;
  }

  #technologies-svg {
    margin-left: 8rem;
  }

  #build-svg {
    margin-right: 10rem;
  }

  .content-wrapper div .hero-img .svg-container .svg-col-1 div:not(#software-svg) {
    width: 150%;
  }

  .contact-form-body {
    display: block;
    top: 10%;
  }

  .contact-form-text textarea {
    width: 80vw;
    font-size: 1.8rem;
  }

  .contact-form-text textarea::placeholder {
    font-size: 1.8rem;
  }

  .contact-form-submit {
    margin-top: 5rem;
  }

  .hamburger-wrapper {
    transform: scale(1);
  }

  .plane-wrapper img {
    padding-top: 8rem;
  }

  .hero-img {
    min-height: calc(100vh - 170px);
  }

  #home-section {
    min-height: calc(100vh - 170px);
  }

  .hamburger-items {
    top: 4.5rem;
    margin-left: 1.7rem;
    height: 2.3rem;
  }

  .hamburger-backdrop {
    width: 17%;
  }

  .hamburger-items div:first-child {
    margin-top: 20vh;
  }

  .waves-container {
    top: 65%;
  }

  .waves-container div.waves svg {
    overflow: visible;
  }

  .waves-container div.waves svg path {
    transform: scale(2) translateY(-200px);
  }

  .contact-form-dropback {
    background-position: 40% 45%;
  }

  #home-desktop {
    display: none;
  }

  #home-mobile {
    display: flex;
    min-height: 70vh;
  }

  .skills-li {
    font-size: 2.5rem;
  }
}

.projects-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.project-item:hover {
  background: #e0e0e0;
}

.project-icon {
  margin: 0 2rem;
  width: 24px;
  height: 24px;
  fill: #333;
  transition: transform 0.3s ease;
  transform: scale(1.8);
}

.project-icon .curve {
  fill: none;
  stroke: #000;
  stroke-width: 0.9;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.project-item:hover .project-icon .curve {
  animation: draw 4s linear infinite alternate;
}

.project-item:hover .project-icon {
  transform: scale(2);
}

.project-item span {
  flex-grow: 1;
  font-size: 3rem;
  font-weight: bold;
  word-break: keep-all;
  white-space: normal;
}

.project-item-button {
  text-decoration: none;
  color: #000;
  flex: 1;
}

.project-item .project-item-link {
  margin-left: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: #2d3034;
  transition: color 0.3s ease;
  word-break: keep-all;
  white-space: normal;
}

.project-item .project-item:hover {
  color: #464c53;
}

.skills-container {
  position: relative;
  overflow: hidden;
}

.skills-ul {
  list-style: none;
  padding: 0;
}

.skills-li {
  font-size: 3rem;
  word-break: keep-all;
  white-space: normal;
}

.skills-background-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.1;
  z-index: 0;
  overflow: hidden;
}

.skills-bg-icon {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  object-fit: contain;
  opacity: 0.1;
  filter: grayscale(100%);
}

.skills-ul,
.skills-li {
  position: relative;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.span-glow {
  opacity: 0;
  transition: opacity 0.3s;
  margin: 0 0.5rem;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 123, 255, 0.7);
  text-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.7);
}

.span-glow.glowing {
  opacity: 1;
  animation: pulse 1.5s infinite;
}